.fullgrid{
   text-decoration: none;
}
.grid{
   text-decoration: none;
}
 .grid:hover{
    text-decoration: none;
    opacity:0.8;
    scale: 1.05;
.type1{
  display: none;
  }
.type2{
   display: flex;
   justify-content: center;
   align-self: center;
 
}
.gerdalia{
   display: none;
}
    
 }

 .type2{
   display: none;
 }
 
 .head {
    position: relative;
    
 }
 .text {
   color: black;
   position: absolute;
   right: 20%;
   left: 16%;
   bottom: 15%;
  

 }
 .head:hover{
    
    opacity:0.5;
    scale: 1.07;
    
 }
.ul{
  list-style-type: none;
  
}
.ul li::before{
   content:"*";
   padding-left:15px;
   color:rgb(44, 77, 240);
}

.hide{
   display: none;
}
.disply{
   display: flex;
}
.gerdalitop{
   display: flex;
   justify-content: start;
   align-items: center;
   align-self: center;
   right: -1px;
  top: 200px;
   width: 100%;
   height:40px;
   background-image:linear-gradient(to bottom ,#f9f0de,#565452);
   border-top-left-radius: 80%;
   border-top-right-radius: 50%;
   padding-right: 15px;
}
.gerdalia{
   display: flex;
   justify-content: start;
   align-items: center;
   align-self: center;
   position: absolute;
   right: -1px;
   bottom: 0;
   width: 100%;
   height:40px;
   background-image:linear-gradient(to bottom ,#f9f0de,#565452);
   border-top-left-radius: 80%;
   border-top-right-radius: 50%;
   padding-right: 15px;
   
}

.linka{
   text-decoration: none;
   font-size: small;
   color: #4d4d4d;
}
.home{
   background-color:white;
   box-shadow: 10px 10px 10px  #9e9b98;
   color:#4d4d4d ;
   padding: 10px;
   margin:8px ;
   font-size: medium;
   border-top-left-radius: 30px;
   border-top-right-radius:15px ;

}
.home:hover{
   background-image:linear-gradient(to bottom ,#f9f0de,#565452) ;
   transform: translateY(-4px);
}