.line{
     width:30%; height:1px; background: rgb(42, 40, 40) 
}
.gerdali{
     display: flex;
     justify-content: center;
     align-items: center;
     align-self: center;
     position: absolute;
     right: -3px;
     bottom: 0;
     width: 180px;
     height: 100px;
     background: linear-gradient(to top ,#5d5443,#282828);
     border-top-left-radius: 50%;
}
.gerdali::before{
     content: " ";
     position: absolute;
     left: -20px;
     bottom: 0;
     width: 20px;
     height: 20px;
     background: transparent;
     box-shadow: 5px 5px 0 5px  #E0AA3E;
     border-bottom-right-radius: 20px;
}
.gerdali::after{
     content: " ";
     position: absolute;
     top: -20px;
     right: 3px;
     width: 20px;
     height: 20px;
     background: transparent;
     box-shadow: 5px 5px 0 5px #E0AA3E;
     border-bottom-right-radius: 20px;
}
.linkj{
     text-decoration: none;
}
.gerdali1{
     display: flex;
     justify-content: center;
     align-items: center;
     align-self: center;
     position: absolute;
     left: -3px;
     top: 0;
     width: 130px;
     height: 50px;
    background: linear-gradient(to top ,#E0AA3E,#282828);
     border-bottom-right-radius: 50%;
}
.gerdali1::before{
     content: " ";
     position: absolute;
     right: -20px;
     top: 0;
     width: 20px;
     height: 20px;
     background: transparent;
     box-shadow: 5px 5px 0 5px #eee;
     border-top-left-radius: 20px;
}
.gerdali1::after{
     content: " ";
     position: absolute;
     bottom: -20px;
     left: 3px;
     width: 20px;
     height: 20px;
     background: transparent;
     box-shadow: 5px 5px 0 5px #eee;
     border-top-left-radius: 20px;
}
.navbanner{
     text-decoration:none;
     font-size: 30px;
     padding-top: 5px;
     color: rgb(210, 149, 17);
   
 }
 