.log{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    text-align: center;
    direction: rtl;
}
.input{

    direction: rtl;
}
.nav{
    text-decoration: none;
    color:#eee;
    font-size: small;
    padding-top: 16px;

}
.logbox{
    width: 100%;
    height: 20vh;
    clip-path: polygon(0 1%, 100% 1%, 100% 33%, 0 56%);
 border-radius: 20px;
 margin: auto;
 background-color: #2b31d5;
 
}