.leaflet-container {
    width: 100%;
    height:500px;
    border-radius: 16px;
  }
  .selectclass{

   
    align-items: center;
    align-self: center;
    color: blue;
    width: 170px;
    text-align: right;
    direction: rtl;
  }
  .hiden{
    display: none;
  }