@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
 font-family: "vazir";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face{
  font-family: "vazir";
  src: url(./fonts/vazir/Vazirmatn-Regular.woff2);
}
